// blues
$color-blue-1: #c7d2fd;
$color-blue-2: #868FAD;
$color-blue-3: #69759D;
$color-blue-4: #4E5C8C;
$color-blue-5: #344479;

// reds
$color-red-1: #F4CED4;
$color-red-2: #EFB2BD;
$color-red-3: #D98997;
$color-red-4: #C16172;
$color-red-5: #A73B4E;

// gray
$color-gray-1: #3C3E44;
$color-gray-2: #2F3135;
$color-gray-3: #26272A;
$color-gray-4: #222327;
$color-gray-5: #181B21;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #fafafa;
$color-gray-light-3: #f6f6f6;
$color-gray-light-4: #eee;
$color-gray-light-5: #D1D1D1;
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

// white
$color-white-1: #ffffff;
$color-white-2: #F9F6EE;
$color-white-3: #FAF9F6;


// black/white
$color-white: #fff;
$color-black: #000;

// Spacing
$padding-1: 1rem;
$padding-2: 2rem;
$padding-3: 3rem;
$padding-4: 4rem;
$padding-5: 5rem;
$padding-6: 6rem;
$padding-7: 7rem;
$padding-8: 8rem;

// width
$section-width-nav: 114rem;
$section-width-main: 100rem;

// Text color
$primary-text-color: #1a1a34;